/* reset */
body {
    margin: 0;
    font-family: monospace;
    font-size: 1.2em;
}

/* header */
.header {
    position: relative;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: #ADD8E6;
    border-bottom: 1px solid #afbcc0;
}

.logo {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.header h1 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
}

/* conteúdo da página */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 120px);
}

input {
    display: block;
    margin-bottom: 20px;
}

input[type="submit"] {
    background-color: lightblue;
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 3px;
}

input[type="submit"]:hover {
    cursor: pointer;
}